In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

In [4]:
A=pd.Series([2,3,4,5],index=['a','b','c','d'])

In [6]:
print(A.values)

[2 3 4 5]

In [7]:
type(A.values)

numpy.ndarray

In [8]:
type(A)

pandas.core.series.Series

In [9]:
print(A.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
type(A.index)

pandas.core.indexes.base.Index

In [11]:
A['a']

2

In [19]:
grades_dict={' A+':10,'A':9,'B':8,'C':7,'D':6,'E':5}
marks_dict={' A+':90,'A':80,'B':70,'C':60,'D':50,'E':40}
grades=pd.Series(grades_dict)
marks=pd.Series(marks_dict)

In [13]:
grades.values

array([10,  9,  8,  7,  6,  5], dtype=int64)

In [14]:
marks

A+    90
A     80
B     70
C     60
D     50
E     40
dtype: int64

In [20]:
df = pd.DataFrame({'grades':grades,'marks':marks})
df

     grades  marks
 A+      10     90
A         9     80
B         8     70
C         7     60
D         6     50
E         5     40

In [22]:
df.T

         A+   A   B   C   D   E
grades   10   9   8   7   6   5
marks    90  80  70  60  50  40

In [25]:
df.values

array([[10, 90],
       [ 9, 80],
       [ 8, 70],
       [ 7, 60],
       [ 6, 50],
       [ 5, 40]], dtype=int64)

In [26]:
df.columns

Index(['grades', 'marks'], dtype='object')

In [27]:
df['Percentage']=df['marks']/100*100

In [28]:
df

     grades  marks  Percentage
 A+      10     90        90.0
A         9     80        80.0
B         8     70        70.0
C         7     60        60.0
D         6     50        50.0
E         5     40        40.0

In [29]:
del df['Percentage']
df

     grades  marks
 A+      10     90
A         9     80
B         8     70
C         7     60
D         6     50
E         5     40

In [30]:
df[df['marks']>70]

     grades  marks
 A+      10     90
A         9     80

In [34]:
df1=pd.DataFrame([{'a':1,'b':2},{'b':2,'c':3}])
df1

     a  b    c
0  1.0  2  NaN
1  NaN  2  3.0

In [36]:
df1.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  2  3.0

In [43]:
df2=pd.Series(['a','b','c'],index=[1,3,5])

In [45]:
df2[1]

'a'

In [46]:
df2[1:3]

3    b
5    c
dtype: object

In [47]:
df2.loc[1:3]

1    a
3    b
dtype: object

In [48]:
df2.iloc[1:3]

3    b
5    c
dtype: object

In [49]:
df.iloc[2,:]

grades     8
marks     70
Name: B, dtype: int64